<div class="waviy">
    <span style="--i: 1">F</span>
    <span style="--i: 2">E</span>
    <span style="--i: 3">A</span>
    <span style="--i: 4">T</span>
    <span style="--i: 5">U</span>
    <span style="--i: 6">R</span>
    <span style="--i: 7">E</span>
    <span style="--i: 8">D</span>
    <span style="--i: 9">&nbsp</span>
    <BR />
    <span style="--i: 10">A</span>
    <span style="--i: 10">R</span>
    <span style="--i: 10">T</span>
    <span style="--i: 10">I</span>
    <span style="--i: 10">C</span>
    <span style="--i: 10">L</span>
    <span style="--i: 10">E</span>
    <span style="--i: 10">S</span>
  </div>