<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/style.css" />
    <title>Document</title>
  </head>
  <body>
    <%- include ('navbar.ejs') %>
    <div class="hero-banner">
      <div class="img-div">
        <img class="img" alt="background image" src="static/bgimage.jpg" />
      </div>

      <div class="heading">
        <div class="two">
          <h1>BlogHub <span>Discover and Share Unique Stories </span></h1>
        </div>
      </div>
    </div>
    <div class="cta">
      Join the community today!
      <div class="btn-cta">
        <a href="/register">  <button class="button-36" role="button">Register</button> </a>
        <a href="/login">  <button class="button-36" role="button">Log in</button> </a>

    
      </div>    
    </div>
  </body>
</html>
