<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Vithkuqi&display=swap" rel="stylesheet">
    <link
      href="https://fonts.googleapis.com/css2?family=Borel&family=Raleway:wght@200&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/static/style.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="navbar">
      <span class="nav">
        <a href="/home"> <button class="nav-btn">BlogHub</button></a>
      </span>
      <div class="navbar-flex">
        <a href="/home"> <button class="nav-btn">Home</button></a>
        <a href="/"> <button class="nav-btn">Explore</button></a>
        <a href="/myblogs"> <button class="nav-btn">My blogs</button></a>
        <a href="articles/new"> <button class="nav-btn">Write a blog</button></a>
        <a href="/register"> <button class="nav-btn">Log in/Signup</button></a>
      </div>
    </div>
  </body>
</html>
