<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog</title>
  </head>
  <body>
    <div class="div">
     New article
     <form action="/articles" method="POST"> 
        <%-include('_forms_fields') %>
     </form>
\
        
    </div>
  </body>
</html>
